body {
    background-color: #99badd;
    color: black;
    font-family: 'Times New Roman', 'Times New Roman', Times, serif;
    font-size: 100%;
}
nav, div.header, div.footer {
    background-color: white;
    border-radius: 5px;
    font-size: 1.125em;
    margin: 0 0 20px 0;
    /* padding: 20px 0 0 0; */
}
div.content {
    font-size: 1.125em;
    display: flex;
    justify-content: center;
}

img{
    width: 500px;
    height: 500px;
}
img:hover {
    width: 100%;
}